* {
    font-family: Arial, Helvetica, sans-serif;
}

#users {
    border-collapse: collapse;
    width: 100%;
}

#users td,
#users th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even) {
    background-color: #f2f2f2;
}

#users tr:hover {
    background-color: #ddd;
}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e60000;
    color: white;
}

#searchUsers {
    display: flex;
    align-items: center;
}

#searchUsers input {
    margin-left: 10px;
}

.button {
    height: 40px;
    width: 100px;
    font-size: 15px;
    background: lightskyblue;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.container {
    border: 1px solid black;
    width: 200px;
    padding: 0 20px 20px 20px;
    margin-top: 10px;
}

#newUserButton {
    height: 30px;
    width: 85px;
    font-size: 15px;
    background: darkseagreen;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}